h1{
    font-family: 'Franklin Gothic Medium';
    color: rgb(26, 26, 69);
}

h1::after{
    content: "  Tamaño PC";
}

body{
    background-color: rgb(127, 190, 190);
}

#especial{
    font-family: cursive;
    text-decoration: underline;
}

p{
    font-family: Arial;
}

h1:hover{
    color: darkred;
    font-size: 300%;
}

h2::shadow{
    
}

h2 + p {
    font-family: Impact;
    color:rgba(255, 0, 140, 0.878);
    font-size: 30px;
}

h2::first-letter{
    color: darkmagenta;
}

div p span{
    text-decoration:underline;
    color:deeppink;
    font-size: 20px;
    
}

p::after{
    content:"  (*-*)";
}

h2::before{
    content: "//  ";
}

img:hover {
    transform: scale(1.5);
}

@media (width<478px){
    div p span{
        text-decoration:underline;
        color:rgb(255, 20, 20);
        font-size: 20px;
        
    }
}

@media (width<=768px) {
    h1::after{
        content: "  Tamaño Tablet";
    }

}

@media (width<=426px) {
    h1::after{
        content: "  Tamaño Celular";
    }

}
