<!-- footer.component.html -->

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Síguenos en redes sociales</h4>
          <ul class="social-icons">
            <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>&copy; {{ currentYear }} Tu Compañía. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  