.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px 0;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .navbar-toggler:hover span {
    background-color: #007bff;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .open {
    display: block !important;
  }
  