.botoncentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tarjetas {
  border: 1px solid black;
}

body {
  background-color:slateblue;
}

.col-md-6 {
  flex-direction: column;
  display: flex;
  align-content: center;
  margin: auto;
  align-items: center;
  background-color:whitesmoke;
}
